<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css" />
    <script src="../static/js/header.js"></script>
</head>
<body>
<header>
    <div class="top_banner">
        <li>
            <a href = "main.html">ㅎㄷㄷ</a>
        </li>
    </div>
    <nav class="navbar">
        <div class="menu">
            <ul>
                <li><a href = "main.html">Home</a></li>
                <li><a href = "map.html">지도</a></li>
                <li><a href = "promotion.html">홍보</a></li>
                <li><a href = "#">구인</a>
                    <ul class="submenu">
                        <li><a href = "projectrecruit.html">프로젝트 구인</a></li>
                        <li><a href = "roomrecruit.html">룸메이트 구인</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--header-->
</body>
</html>